<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Product_DefectRecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LSBUDBConnection" connectionString="Data Source=LAPTOP-A0O7AHQS\SQLEXPRESS;Initial Catalog=LSBUQC;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Product_DefectRecord.Properties.Settings.LSBUDBConnection"
            connectionString="Data Source=DESKTOP-66EIFJP\SQLEXPRESS;Initial Catalog=LSBUDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Product_DefectRecord.Properties.Settings.LSBUDBConnectionString"
            connectionString="Data Source=DESKTOP-66EIFJP\SQLEXPRESS;Initial Catalog=LSBUDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Product_DefectRecord.Properties.Settings>
            <setting name="MySetting" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
        </Product_DefectRecord.Properties.Settings>
    </userSettings>
</configuration>